video#bgvid {
position: fixed; right: 0; bottom: 0;
min-width: 100%; min-height: 100%;
width: auto; height: auto; z-index: -100;
background-size: cover;
}

#title {
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding: 10% 0;
  font-size: 160px;
}

#countdown{
  font-family: 'Oswald', sans-serif;
  text-align: center;
  padding: 12% 0;
  font-size: 80px;
}

/*Set the background to a jpg and hide video if on mobile*/
@media screen and (max-device-width: 800px) {
body { background: url(backup.jpg) #000 no-repeat center center fixed; }
#bgvid { display: none; }
}
